body {
  color: darkslategray;
}
header {
  background: darkslategray;
  color: white;
  font-size: 1.5rem;
}

header ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  min-height: 5vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.fill {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.teal.active {
  color: rgb(20, 220, 207);
}

.maize.active {
  color: rgb(255, 203, 5);
}

.blue.active {
  color: rgb(0, 39, 76);
}
